#home {
    width: 100%;
    min-height: 100%;
    display: flex;
}

.lefthome {
    width: 50%;
    height: 100vh;
    padding-left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.righthome {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.righthome img {
    width: 60%;

}

.homedetails {
    font-size: 2vmax;
}

.line1 {
    font-size: 0.8em;
}

.line2 {
    font-size: 2.5em;
    background: linear-gradient(to right, rgb(29, 29, 101), white);
    background-clip: text;
    color: transparent;
}

.line3 {
    font-size: 0.8em;
}


.homedetails button {
    padding: 10px 30px;
    background-color: rgb(187, 255, 0);
    ;
    color: black;
    border: 2px solid white;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 19px;
    transition: all 0.2s;  /* ✅ */
    cursor: pointer;

}

.homedetails button:hover {
    background-color: transparent;
    color: rgb(187, 255, 0);
}

@media (max-width:750px) {
    #home {
        flex-direction: column-reverse;

    }

    .lefthome {
        width: 100%;
        height: 50vh;
        padding-left: 10px;


    }

    .righthome {
        width: 100%;
        height: 50vh;
        align-items: end;
    }


}

.border-btn {
    margin-top: 10px;

    display: inline-block;
    padding: .7rem 1.5rem;
    background: #7AFC0F;
    color: #fff;
    font-weight: bold;
    font-size: .9rem;
    border-radius: 100vw;
    border: .1rem solid white;
    transition: .3s ease-in-out;
}

a {
    text-decoration: none;
}

.btn:hover {
    color: black;
}

.para {
    font-size: 2vh;

}